// Core SASS file

@font-face {
    font-family: 'SF Pro Text';
    src: url('fonts/SFProText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('fonts/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body{
  font-family: 'SF Pro Text', sans-serif;
}
//----------IDS___--------

#navBar{
  height: 44px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .65);


  #navBarContent{
    height: 100%;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;


    div{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 95px;
      color: white;
      cursor: pointer;
      transition: 0.15s;

      &:hover{
        color: #959595;
        transition: 0.15s;
      }

      span{
        font-size: .85em;
        letter-spacing: .03em;
        user-select: none;
      }
    }
  }
}

#hero3{
  background-color: #F8EEE8;
}

#hero1Img{
  background-image: url('imgs/iphone_x.jpg');
}

#hero2Img{
  background-image: url('imgs/homepod_large.jpg');
}

#hero3Img{
  background-image: url('imgs/iphone_8_large.jpg');
}


//     =========CLASSES========

.heroWrapper{
  height: 70vh;
  width: 100vw;
  padding: 55px 0 0 0;
  margin: 0 0 5px 0;
  line-height: 1.35;
  box-sizing: border-box;
  background-color: #F9F9F9;

  div{
    width: 300px;
    height: 300px;
    margin: 20px auto 0 auto;

    background: {
      size: contain;
      position: center;
      repeat: no-repeat;
    }
  }
}
// +++++++++++++TEXT STYLES+++++++++++

h1{
  font-size: 3.4em;
  letter-spacing: -.05em;
  font-weight: 600;
  text-align: center;
}

h2{
  font-size: 1.55em;
  letter-spacing: -.01em;
  text-align: center;
}
