// Core SASS file

@font-face {
    font-family: 'SF Pro Text';
    src: url('fonts/SFProText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('fonts/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body{
  font-family: 'SF Pro Text', sans-serif;
}
//----------IDS___--------

#navBar{
  height: 44px;
  width: 100vw;
  background-color: rgba(0,0,0, .65);


  #navBarContent{
    height: 100%;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;


    div{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 95px;
      color: white;
      cursor: pointer;
      transition: 0.15s;

      &:hover{
        color: #959595;
        transition: 0.15s;
      }

      span{
        font-size: .85em;
        letter-spacing: .03em;
        user-select: none;

      }
    }
  }
}
